/* -*- indent-tabs-mode: nil; tab-width: 2; -*- */
/* vim: set ts=2 sw=2 et ai : */

* {
  --url-logo: url(./alarkhabil-logo.svg);
  --url-logotype: url(./alarkhabil-logotype.svg);
  --selection-color: #FF733580;
  --accent-color: #FF7335;
}
