/* -*- indent-tabs-mode: nil; tab-width: 2; -*- */
/* vim: set ts=2 sw=2 et ai : */

@import url(./theme.css);

:root, body {
  margin: 0;
  padding: 0;
}

:root {
  min-width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

body {
  flex: 1;
  display: flex;
  flex-direction: column;
}

#topbar {
  display: flex;
  flex-direction: row;
  position: -webkit-sticky;
  position: sticky;
  inset-block-start: 0;
  border-block-end: solid 2px transparent;
  padding-inline: 16px;
}

#topbar-branding-link {
  display: flex;
  flex-direction: row;
}

#topbar-branding-icon {
  inline-size: 64px;
  min-block-size: 64px;
  font-size: 0;
}

#topbar-branding-icon > .inner {
  display: block;
  inline-size: 100%;
  block-size: 100%;
}

#topbar-branding-logotype {
  inline-size: 192px;
  min-block-size: 64px;
  font-size: 0;
}

#topbar-branding-logotype > .inner {
  display: block;
  inline-size: 100%;
  block-size: 100%;
}

#topbar-navigation {
  flex: 1;
  display: flex;
  flex-direction: row;
}

#topbar-navigation > ul {
  flex: 1;
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: end;
  align-items: center;
}

#topbar-navigation > ul > li {
  margin-inline: 1em;
}

#topbar-navigation a {
  color: inherit;
}

#content {
  flex: 1;
}

#content > :not(.fullwidth) {
  max-inline-size: 640px;
  margin-inline: auto;
}

#global-footer-branding {
  margin-block: 1em;
  max-inline-size: 640px;
  margin-inline: auto;
  text-align: center;
}

#global-footer-branding-logo {
  block-size: 128px;
  font-size: 0;
}

#global-footer-branding-legal {
  margin-block-start: 1em;
  border-block-start: solid currentColor 1px;
  padding-block-start: 1em;
  font-size: 80%;
}

#global-footer-navigation {
  padding-inline: 1em;
  padding-block: 1em;
}

#global-footer-navigation > ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

#global-footer-navigation > ul > li {
  margin-inline: 1em;
}
