/* -*- indent-tabs-mode: nil; tab-width: 2; -*- */
/* vim: set ts=2 sw=2 et ai : */

* {
  --url-logo: url(../branding/alarkhabil-logo.svg);
  --url-logotype: url(../branding/alarkhabil-logotype.svg);
}

:root, body {
  font-family: system-ui, sans-serif;
}

::selection {
  background-color: #FF733580;
}

a {
  color: #FF7335;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#topbar {
  border-block-end-color: #FF7335 !important;
  background-color: #fff !important;
  box-shadow: 0 0 16px #fff;
  color: #333;
}

#topbar-branding-icon {
  background-color: #FF7335;
}

#topbar-branding-icon > .inner {
  background-color: #fff;
  mask: var(--url-logo) center / contain no-repeat add alpha;
}

#topbar-branding-logotype {
  background-color: #FF7335;
  mask: var(--url-logotype) center / contain no-repeat add alpha;
}

#content {
  background-color: #fff;
  color: #333;
}

#global-footer {
  background-color: #333;
  color: #fff;
}

#global-footer-branding-logo {
  background-color: #fff;
  mask: var(--url-logo) center / contain no-repeat add alpha;
}
